@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,700&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  opacity: 1;
  animation-name: animation;
  animation-duration: 2s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h3.subtitle-underline:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 1rem auto;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
}

a:hover {
  transition: 0.5s;
}

.separator {
  top: -15px;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Animaciones */
@keyframes animation {
  from {
    position: relative;
    top: -30px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@keyframes line-animation {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 150px;
    opacity: 1;
  }
  100% {
    width: 100px;
    opacity: 1;
  }
}
@keyframes nav-animation {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}
@keyframes opacity-anim {
  100% {
    opacity: 1;
  }
}
/* Extends */
.carousel-caption::after, .hero .col:after, .carousel h2, .hero h1 {
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.carousel h2, .hero h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
  animation-name: animation;
  animation-duration: 2s;
  opacity: 0;
}

.carousel h3 {
  color: #bbbbbb;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 0.8rem;
  color: #bbbbbb;
  animation-name: animation;
  animation-duration: 6s;
}

#home-slider .carousel-itemimg::before, #home-slider img, #home-slider, .hero::before {
  height: 75vh;
}

/* Boton */
.btn > i {
  opacity: 0;
  font-size: 0.8rem;
  position: relative;
  left: 2px;
  transition: 0.5s;
}
.btn:hover i {
  opacity: 1;
  left: 5px;
}

.btn-outline-light {
  width: 150px;
  transition: width 0.5s;
}
.btn-outline-light:hover {
  width: 180px;
}

.btn-secondary {
  width: 90%;
  transition: width 0.5s;
}
.btn-secondary:hover {
  width: 100%;
  background-color: #252b2d;
  border-color: #252b2d;
}

/* image */
div > img {
  transition-property: transform;
  transition-duration: 0.2s;
}
div > img:hover {
  transform-origin: center;
  transform: scale(1.03);
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.2);
}

/* Navbar */
.navbar-brand > img {
  width: 100px;
}
.navbar-brand > img:hover {
  opacity: 0.7;
}

.nav-link {
  display: block;
  padding: 1.5rem 0 0;
  text-decoration: none;
}

.bg-dark,
.navbar-dark {
  background-color: #252b2d !important;
  color: #fff;
  font-size: 0.9rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ff3b3f;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* hero */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero.nosotros {
  background-image: url(https://maicuel.github.io/coder-demo/images/Cabana-Amanecer.jpg);
  background-position: center right;
}
.hero.entorno {
  background-image: url(https://maicuel.github.io/coder-demo/images/hero-1.jpg);
}
.hero.contact {
  background-image: url(https://maicuel.github.io/coder-demo/images/andariveles.jpg);
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.hero > div {
  z-index: 1;
  justify-content: center;
}
.hero .col:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 1rem auto;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  animation-name: line-animation;
  animation-duration: 2s;
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .hero {
    height: 50vh !important;
  }
  .hero::before {
    height: 50vh;
  }
  .hero h1 {
    font-size: 2rem;
  }
}
/* Carousel */
#home-slider img {
  object-fit: cover;
  transition: all 0.9s ease;
  opacity: 0.6;
}
#home-slider .carousel-item {
  background-color: #000;
}
#home-slider .carousel-item:hover img {
  transform: scale(1.1);
  opacity: 0.4;
}
#home-slider .carousel-itemimg::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  top: 25%;
  bottom: 0;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.carousel-caption::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 1rem auto;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  animation-name: line-animation;
  animation-duration: 2s;
  opacity: 0;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 23px;
  left: 0;
  z-index: 2 !important;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

@media screen and (max-width: 480px) {
  .carousel h2 {
    font-size: 2rem;
  }
  .carousel h3 {
    font-size: 0.8rem;
  }

  .carousel-indicators {
    display: none !important;
  }
}
#carousel-cabanas:before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: #252b2d;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  #carousel-cabanas:before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 20px;
    background-color: #252b2d;
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 782px) and (max-width: 988px) {
  #carousel-cabanas {
    position: relative;
    top: -90px;
  }
}
/* Cards */
.card h2.card-title {
  font-size: 1.5rem;
}
.card .card-image {
  overflow: hidden;
  position: relative;
  height: 30%;
}
.card img {
  transition: all 0.6s ease-in-out;
  width: 100%;
}
.card:hover img {
  transform: scale(1.2) rotate(5deg);
}

/* Galeria */
.grid-container-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 3rem;
}
.grid-container-gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
.grid-container-gallery img:hover {
  transition-property: transform;
  transition-duration: 0.3s;
  transform-origin: center;
  transform: scale(1.03);
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.2);
}
.grid-container-gallery > .img-gallery {
  grid-template-columns: 1fr;
  animation: opacity-anim 1.5s forwards;
}
.grid-container-gallery > .img-gallery:nth-child(1) {
  grid-column: 1/span 2;
  animation-delay: 0.5s;
}
.grid-container-gallery > .img-gallery:nth-child(2) {
  animation-delay: 1s;
}
.grid-container-gallery > .img-gallery:nth-child(3) {
  grid-column: 1/span 1;
  animation-delay: 1.5s;
}
.grid-container-gallery > .img-gallery:nth-child(4) {
  grid-column: auto/span 1;
  animation-delay: 2s;
}
.grid-container-gallery > .img-gallery:nth-child(5) {
  animation-delay: 2.5s;
}
.grid-container-gallery > .img-gallery:nth-child(6) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
  animation-delay: 3s;
}
.grid-container-gallery > .img-gallery:nth-child(7) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
  animation-delay: 3.5s;
}

/* media queries */
@media screen and (max-width: 480px) {
  .grid-container-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem;
  }
  .grid-container-gallery > .img-gallery {
    grid-template-columns: 1fr;
  }
  .grid-container-gallery > .img-gallery:nth-child(odd) {
    grid-column: 1;
  }
  .grid-container-gallery > .img-gallery:nth-child(even) {
    grid-column: 1;
  }
}
/* Form */
.form-floating > label {
  position: absolute;
  top: 0;
  left: 15px;
}

fieldset {
  padding: 0 2rem;
}

/* media queries */
@media screen and (max-width: 480px) {
  fieldset {
    padding: 0;
    margin-top: 3rem;
  }
}
/* Modal */
.modal-backdrop.show {
  opacity: 0.9;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #bbbbbb;
}

/* Services */
.service-description {
  display: flex;
  align-items: flex-end;
  text-align: center;
  font-size: 0.9rem;
  margin: 2rem 0;
  position: relative;
  left: -15px;
  width: 115%;
  color: white;
  background-color: #252b2d;
  z-index: 0;
}

.service-item {
  margin: 1rem;
}
.service-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: #fff;
  margin: 4px 15px;
  transform: skew(-15deg, 10deg);
}
.service-item:last-child::after {
  display: none;
}

@media screen and (max-width: 780px) {
  .service-description {
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: 0.9rem;
    margin: 2rem 0;
    position: relative;
    left: 0;
    width: 100%;
    color: white;
    background-color: #252b2d;
    z-index: 0;
  }
}
@media screen and (max-width: 320px) {
  .service-description {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .service-item {
    margin: 0.2rem;
  }

  ::after {
    display: none;
  }
}
/* Services call to action */
.service-cta {
  background-color: #ff3b3f;
  color: white;
  position: relative;
  margin: 0 auto;
}

/* Price */
.price-section {
  margin: 0;
  padding: 0;
}

.price-wrapper .title:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 16px 0;
  background-color: #fff;
}
.price-wrapper .row > div {
  background-color: #252b2d;
  height: 15rem;
  position: relative;
}
.price-wrapper .row > div:first-child {
  background-color: #263538;
}
.price-wrapper h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.price-wrapper .price-subtitle {
  margin: 0;
  color: #536163;
}
.price-wrapper .price {
  font-size: 1.8rem;
  margin-top: 1rem;
  position: absolute;
  right: 31px;
  bottom: 20px;
}
.price-wrapper .price:before {
  content: "$";
  font-size: 1rem;
  margin-right: 3px;
}
.price-wrapper .price:after {
  content: "x dia";
  font-size: 0.8rem;
  margin-left: 3px;
}

/* footer */
footer {
  background-color: #000;
}
footer ul li {
  display: inline;
}
footer a {
  font-size: 22px;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}
footer a:hover {
  color: #bbbbbb;
}

/*# sourceMappingURL=style.css.map */
