/* Cards */ 


  .card {

    h2.card-title {
        font-size: 1.5rem;
    }
    
    .card-image {
        overflow: hidden;
        position: relative;
        height: 30%;
      }

    img {
        transition: all .6s ease-in-out;
        width: 100%;
    }

      &:hover img {
        transform: scale(1.2) rotate(5deg);
      }
  }