/* Form */

.form-floating {
    > label {
        position: absolute;
        top: 0;
        left: 15px;
    }
}

fieldset {
    padding:0 2rem;
}


/* media queries */

@media screen and (max-width: 480px) {

    fieldset {
        padding: 0;
        margin-top: 3rem;
    }
}

