/* hero */

.hero {
    background-image: url('../images/hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        @extend %height_75;
        background-color: rgb(0 0 0 / 35%);  
    }

    > div {
        z-index: 1;
        justify-content: center;
    }

    .col:after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        margin: 1rem auto;
        background-color: $white;
        position: absolute;
        left: 0;
        right: 0;
        @include animation(line-animation, 2s);
        @extend %delay-animation;
        opacity: 0;
    }

    h1 {
        @extend %title;
    }
}

@media screen and (max-width: 480px) {
    
    .hero {
        h1 {
            font-size: 2.0rem;
        }
    }
    
}
