
/* Navbar */


.navbar-brand {
    > img{
        width: 100px;
        
        &:hover {
            opacity: .7;
     }
    }
}
   
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.nav-link {
    display: block;
    padding: 1.5rem 0 0;
    text-decoration: none;
}

.bg-dark,
.navbar-dark{
    background-color: $dark-gray !important;
    color: $white;
    font-size: .9rem;
}


.navbar-dark .navbar-nav .nav-link.active{
    color: $light-red;
}


.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}